<p-table #dt [value]="products" [(selection)]="selectedProducts" dataKey="id" styleClass="p-datatable-customers"
    [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
    [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
    [globalFilterFields]="['name','category','description','units']">
    <ng-template pTemplate="caption">
        <div class="grid">
            <div class="col-8">
                List of products
                <span class="p-input-icon-right ml-2">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Global Search" />
                </span>
            </div>
            <div class="col-4">
                <!-- <p-button icon="pi pi-trash" (click)="deleteSelectedProduct()" styleClass="p-button-danger mr-2" label="Delete selected product"></p-button> -->
                <p-button icon="pi pi-plus-circle" (click)="navigateToProductCreate()" styleClass="p-button-primary"
                    style="float:right;" label="Add product"></p-button>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem"></th>
            <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="category">Category <p-sortIcon field="category"></p-sortIcon>
            </th>
            <th pSortableColumn="description">Description <p-sortIcon field="representative.name"></p-sortIcon>
            </th>
            <th pSortableColumn="units">Units <p-sortIcon field="units"></p-sortIcon>
            </th>
            <th style="width: 10rem">Actions</th>
        </tr>
        <tr>
            <th>
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>
                <input pInputText type="text" (input)="dt.filter($any($event.target).value, 'name', 'startsWith')"
                    placeholder="Search by name" class="p-column-filter">
            </th>
            <th>
                <input pInputText type="text" (input)="dt.filter($any($event.target).value, 'category', 'contains')"
                    placeholder="Search by category" class="p-column-filter">
            </th>
            <th>
                <input pInputText type="text" (input)="dt.filter($any($event.target).value, 'description', 'contains')"
                    placeholder="Search by description" class="p-column-filter">
            </th>
            <th>
                <input pInputText type="number" (input)="onUnitsFilterChange($any($event))" placeholder="Minimum"
                    min="0" class="p-column-filter">
            </th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr class="p-selectable-row">
            <td>
                <p-tableCheckbox [value]="product"></p-tableCheckbox>
            </td>
            <td>
                <span class="p-column-title">Name</span>
                <a (click)="navigateToProductDetails(product.id)">{{product.name}}</a>
            </td>
            <td>
                <span class="p-column-title">Category</span>
                {{product.category}}
            </td>
            <td>
                <span class="p-column-title">Description</span>
                {{product.description}}
            </td>
            <td>
                <span class="p-column-title">Units</span>
                {{product.units}}
            </td>
            <td style="text-align: center">
                <p-button (click)="navigateToProductDetails(product.id)" class="mr-3" icon="pi pi-pencil"></p-button>
                <p-button icon="pi pi-trash" (click)="showDeleteProductConfirm(product.name)"
                    styleClass="p-button-danger"></p-button>
            </td>
            <p-toast position="bottom-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
                <ng-template let-message pTemplate="message">
                    <div class="p-flex p-flex-column" style="flex: 1">
                        <div class="p-text-center">
                            <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                            <h4>{{message.summary}}</h4>
                            <p>{{message.detail}}</p>
                        </div>
                        <div class="grid p-fluid">
                            <div class="col-6">
                                <button type="button" icon="pi pi-check" pButton (click)="onConfirm(product.id, product.name)" label="Yes" class="p-button-success"></button>
                            </div>
                            <div class="col-6">
                                <button type="button" icon="pi pi-times" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-toast>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8">No products found.</td>
        </tr>
    </ng-template>
</p-table>
